@using Microsoft.AspNetCore.Http.Extensions;
@model IList<Sanpham>
@{
    var actionContext = Url.ActionContext;
    var url = actionContext.HttpContext.Request.GetDisplayUrl();
}
@foreach (var i in Model)
{
    <div class="arrval-slider-item">
        <article class="list-product text-left">
            <div class="product-inner">
                <div class="img-block">
                    <a href="@Url.Action("ChiTietSanPham", "SanPham", new {id=i.MaSp})" class="thumbnail">
                        <img class="first-img" src="@i.Anhbia" alt="" />
                        <img class="second-img" src="@i.Anhbia" alt="" />
                    </a>
                    <div class="add-to-link">
                        <ul>
                            <li>
                                <a class="quick-view" href="@Url.Action("ChiTietSanPham","SanPham",new {id=i.MaSp})" data-link-action="quickview" title="Quick view" data-toggle="modal">
                                    <i class="las la-search">
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="product-flag">
                        <li class="new">
                            New
                        </li>
                    </ul>
                </div>
                <div class="product-decs">
                    <h2>
                        <a href="@Url.Action("ChiTietSanPham","SanPham",new {id=i.MaSp})" class="product-link">
                            @i.TenSp
                        </a>
                    </h2>
                    <div class="pricing-meta">
                        <ul>
                            <li class="current-price">
                                @String.Format("{0:N0}", i.Giaban)
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="cart-btn">
                    <a href="@Url.Action("ThemGioHang", "GioHang", new { iMaSP = i.MaSp, strURL = url })" class="add-to-curt" title="Add to cart" onclick="updateTotalPrice()">
                        <i class="las la-baby-carriage"></i>
                    </a>
                </div>
            </div>
        </article>
    </div>
}