@model IEnumerable<MinkyShop.Models.Sanpham>
@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewBag.Title = "chitietsanpham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var i in Model)
{
    <div class="product-details-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="product-details-img product-details-tab position-relative">
                        <div class="zoompro-wrap zoompro-2">
                            <div class="zoompro-border zoompro-span">
                                <img class="zoompro w-100" src="@i.Anhbia" data-zoom-image="@i.Anhbia" alt="" />
                            </div>
                        </div>
                        <div id="gallery" class="product-dec-slider-2">
                            <div class="single-slide-item">
                                <img class="img-responsive" data-image="@i.Anhbia" data-zoom-image="@i.Anhbia" src="@i.Anhbia" alt="" />
                            </div>
                        </div>
                        <ul class="product-flag">
                            <li class="new">New</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="product-details-content">
                        <h2>@i.TenSp</h2>
                        <div class="pricing-meta">
                            <ul>
                                <li class="cuttent-price">@String.Format("{0:0,0}", i.Giaban)</li>
                            </ul>
                        </div>
                        <div class="pro-details-list">
                            <ul>
                                <li>@i.Mota</li>
                            </ul>
                        </div>
                        <div class="pro-details-quality mt-0px">
                            <div class="pro-details-cart btn-hover">
                                <a href="@Url.Action("ThemGiohang", "GioHang", new { @iMaSp = i.MaSp , @strURL=Context.Request.GetDisplayUrl() })">Add To Cart</a>
                            </div>
                        </div>
                        <div class="pro-details-social-info">
                            <span>Share</span>
                            <div class="social-info">
                                <ul>
                                    <li>
                                        <a title="Facebook" href="#"><i class="ion-social-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a title="Twitter" href="#"><i class="ion-social-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a title="Google+" href="#"><i class="ion-social-google"></i></a>
                                    </li>
                                    <li>
                                        <a title="Instagram" href="#"><i class="ion-social-instagram"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="pro-details-policy">
                            <ul>
                                <li><img src="~/assets/images/icons/policy.png" alt="" /><span>Chính sách vận chuyển (Giao hàng miễn phí)</span></li>
                                <li><img src="~/assets/images/icons/policy-2.png" alt="" /><span>Chính sách giao/nhận (Thanh toán khi nhận hàng. (Không được đồng kiểm))</span></li>
                                <li><img src="~/assets/images/icons/policy-3.png" alt="" /><span>Chính sách hoàn trả (15 ngày trả hàng)</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MinkyShop details Area End -->
    <!-- product details description area start -->
    <div class="description-review-area mb-50px bg-light-gray-3 ptb-50px">
        <div class="container">
            <div class="description-review-wrapper">
                <div class="description-review-topbar nav">
                    <a data-toggle="tab" href="#des-details1">Mô tả</a>
                    <a data-toggle="tab" href="#des-details3">Nhận xét/Đánh giá (2)</a>
                </div>
                <div class="tab-content description-review-bottom">
                    <div id="des-details1" class="tab-pane">
                        <div class="product-description-wrapper">
                            <p>@i.Mota</p>
                        </div>
                    </div>
                    <div id="des-details3" class="tab-pane">
                        <div class="row">
                            <div class="col-lg-7">
                                <div class="review-wrapper">
                                    <div class="single-review">
                                        <div class="review-img">
                                            <img src="~/assets/images/review-image/1.png" alt="" />
                                        </div>
                                        <div class "review-content">
                                            <div class="review-top-wrap">
                                                <div class="review-left">
                                                    <div class="review-name">
                                                        <h4>Bùi Duy Đạt</h4>
                                                    </div>
                                                    <div class="rating-product">
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                    </div>
                                                </div>
                                                <div class="review-left">
                                                    <a href="#">Reply</a>
                                                </div>
                                            </div>
                                            <div class="review-bottom">
                                                <p>Sản phẩm rất tuyệt vời!</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="single-review child-review">
                                        <div class="review-img">
                                            <img src="~/assets/images/review-image/2.png" alt="" />
                                        </div>
                                        <div class="review-content">
                                            <div class="review-top-wrap">
                                                <div class="review-left">
                                                    <div class="review-name">
                                                        <h4>Minh Hùng</h4>
                                                    </div>
                                                    <div class="rating-product">
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                        <i class="ion-android-star"></i>
                                                    </div>
                                                </div>
                                                <div class="review-left">
                                                    <a href="#">Reply</a>
                                                </div>
                                            </div>
                                            <div class="review-bottom">
                                                <p>Ok, bạn nhá!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="ratting-form-wrapper pl-50">
                                    <h3>Review cửa hàng</h3>
                                    <div class="ratting-form">
                                        <form action="#">
                                            <div class="star-box">
                                                <span>Đánh giá:</span>
                                                <div class="rating-product">
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                    <i class="ion-android-star"></i>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="rating-form-style mb-10">
                                                        <input placeholder="Họ tên" type="text" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="rating-form-style mb-10">
                                                        <input placeholder="Email" type="email" />
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="rating-form-style form-submit">
                                                        <textarea name="Review của bạn về cửa hàng" placeholder="Bình luận"></textarea>
                                                        <input type="submit" value="Gửi" />
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<div class="related-item">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>CÓ THỂ BẠN SẼ THÍCH</h2>
                </div>
            </div>
        </div>
        <!-- Tab Slider Start -->
        <div class="arrival-slider slider-nav-style-1">
            @await Component.InvokeAsync("SanPhamBanChay")
        </div>
        <!-- Tab Slider End -->
    </div>
</div>
