@model IEnumerable<MinkyShop.Models.SanPham_Loai>
@using Microsoft.AspNetCore.Http.Extensions
@{
    ViewBag.Title = "SPDanhMuc";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shop-category-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="shop-bottom-area mt-35">
                    <div class="tab-content jump">
                        <div id="shop-1" class="tab-pane active">
                            <div class="row">
                                @foreach (var i in Model)
                                {
                                    <div class="col-md-4 col-sm-6" style="margin-top: 10px; margin-bottom: 20px;">
                                        <div class="slider-single-item">
                                            <!-- Single Item -->
                                            <article class="list-product text-left">
                                                <div class="product-inner">
                                                    <div class="img-block">
                                                        <a href="@Url.Action("ChiTietSanPham", "Sanpham", new { id = i.MaSp })" class="thumbnail">
                                                            <img class="first-img" src="@i.Anhbia" alt="" />
                                                            <img class="second-img" src="@i.Anhbia" alt="" />
                                                        </a>
                                                        <div class="add-to-link">
                                                            <ul>
                                                                <li>
                                                                    <a class="quick_view" href="@Url.Action("ChiTietSanPham", "Sanpham", new { id = i.MaSp })">
                                                                        <i class="las la-search"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <ul class="product-flag">
                                                            <li class="new">New</li>
                                                            @* <li class="new discount">-5%</li>*@
                                                        </ul>
                                                    </div>
                                                    <div class="product-decs">
                                                        <h2><a href="@Url.Action("ChiTietSanPham", "Sanpham", new { id = i.MaSp })" class="product-link">@i.TenSp</a></h2>
                                                        <div class="pricing-meta">
                                                            <ul>
                                                                <li class="current-price">@String.Format("{0:0,0}", i.Gia)</li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="cart-btn">
                                                        <a href="@Url.Action("ThemGiohang", "GioHang", new { @iMaSp = i.MaSp, @strURL = Context.Request.GetDisplayUrl() })" class="add-to-curt" title="Add to cart"><i class="las la-baby-carriage"></i></a>
                                                    </div>
                                                </div>
                                            </article>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
