@model IEnumerable<MinkyShop.Models.Chitietdonthang>
@{
    ViewData["Title"] = "Xacnhandonhang";
    Layout = "_Layout.cshtml";
}

<h2>Đơn hàng của quý khách đã được chúng tôi ghi nhận. Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất và giao hàng đúng hẹn</h2>

<table style="text-align: center; margin: 0 auto;">
    <tr>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
        <th>Đơn giá</th>
        <th>Thành tiền</th>
    </tr>
    @foreach (var item in ViewBag.ChiTietDonHang)
    {
        <tr>
            <td>@item.TenSP</td>
            <td>@item.Soluong</td>
            <td>@item.Dongia.ToString("N0")</td>
            <td>@item.ThanhTien.ToString("N0")</td>
        </tr>
    }
    @if (ViewBag.Voucher != 0)
    {
        <tr>
            <th>Khuyến mãi: </th>
            <td>@ViewBag.Voucher.ToString("N0")</td>
        </tr>
    }
    <tr>
        <th>Tổng: </th>
        <td>@ViewBag.Tongtien.ToString("N0")</td>
    </tr>
</table>

<p style="text-align: center">
    <a asp-action="Index" asp-controller="Home">VỀ TRANG CHỦ</a>
</p>
