@{
    var session = Context.Session;
}
<!DOCTYPE html>
<html class="no-js" lang="en-US">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Nhóm 15 - Pet Food</title>
    <meta name="description" content="240+ Best Bootstrap Templates are available on this website. Find your template for your project compatible with the most popular HTML library in the world." />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="canonical" href="Replace_with_your_PAGE_URL.html" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Add a Title" />
    <meta property="og:url" content="PAGE_URL" />
    <meta property="og:site_name" content="SITE_NAME" />
    <meta property="og:image" content="#" />
    <meta property="og:description" content="Add_Description_Text" />
    <meta name="robots" content="noindex, follow" />
    <link rel="icon" href="~/assets/images/favicon/favicon.png" sizes="32x32" />
    <link rel="icon" href="~/assets/images/favicon/favicon.png" sizes="32x32" />
    <link rel="icon" href="~/assets/images/favicon/favicon.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="~/assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileImage" content="~/assets/images/favicon/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap&amp;subset=cyrillic,cyrillic-ext,latin-ext,vietnamese" type="text/css" media="all">
    <link rel="stylesheet" href="~/assets/css/vendor/vendor.min.css" />
    <link rel="stylesheet" href="~/assets/css/plugins/plugins.min.css" />
    <link rel="stylesheet" href="~/assets/css/style.min.css">
</head>
<body>
    <!-- Header Section Start From Here -->
    <header class="header-wrapper">
        <!-- Header Nav Start -->
        <div class="header-nav bg-white d-lg-block d-none">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 align-self-center">
                        <div class="header-nav-wrapper">
                            <div class="header-menu-nav">
                                <div class="menu-nav ">
                                    <div class="contact-wrap">
                                        <div class="contact-link">
                                            <div class="data phone">
                                                <i class="las la-phone-volume"></i> <span class="hidden-lg-down">Phone:</span> 0559 221 106
                                            </div>
                                        </div>
                                    </div>
                                    <div class="dropdown float-right">
                                        @{
                                            var taikhoan = @session.GetString("Taikhoan");
                                            var name = @session.GetString("Name");
                                        }

                                        @if (!string.IsNullOrEmpty(taikhoan))
                                        {
                                            <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="las la-user-circle"></i> <span>@name</span> <i class="las la-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu height-122px" aria-labelledby="dropdownMenuButton" style="width:170px">
                                                <li><a href="@Url.Action("ThongTin","Nguoidung")">Tài khoản của tôi</a></li>
                                                <li><a href="@Url.Action("LichSuMuaHang","Nguoidung")">Đơn mua</a></li>
                                                <li><a href="@Url.Action("Dangxuat","Nguoidung")">Đăng Xuất</a></li>
                                            </ul>
                                        }
                                        else
                                        {
                                            <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="las la-user-circle"></i> <span>Thông tin người dùng</span> <i class="las la-angle-down"></i>
                                            </button>
                                            <ul class="dropdown-menu height-122px" aria-labelledby="dropdownMenuButton" style="width:170px">
                                                <li><a href="@Url.Action("Dangky","Home")">Đăng ký</a></li>
                                                <li><a href="@Url.Action("Dangnhap","Home")">Đăng nhập</a></li>
                                            </ul>
                                        }




                                    </div>
                                    <div class="search-element-wrap">
                                        <a href="javascript:void(0)"><i class="las la-search"></i></a>
                                        <div class="search-element">
                                            <form action="@Url.Action("Search", "Home")">
                                                @using (Html.BeginForm(FormMethod.Post))
                                                {
                                                    <input type="text" placeholder="Tìm kiếm thông tin bạn cần .." name="search"/>
                                                    <button type="submit"><i class="las la-search"></i></button>
                                                }
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Nav End -->
        <div class="header-menu bg-indigo sticky-nav d-lg-block d-none ptb-25px">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 d-flex">
                        <div class="logo align-self-center">
                            <a href="@Url.Action("Index","Home")"><img class="img-responsive" src="~/assets/images/logo/logo-white.png" alt="logo.png" /></a>
                        </div>
                    </div>
                    <div class="col-md-7  d-flex">
                        <div class="header-horizontal-menu align-self-center">
                            <ul class="menu-content">
                                <li class="menu-dropdown">
                                    <a href="#">Sản phẩm <i class="ion-ios-arrow-down"></i></a>
                                    <ul class="mega-menu-wrap">
                                        @await Component.InvokeAsync("DanhMuc")
                                    </ul>
                                </li>
                                <li class="menu-dropdown">
                                    <a href="#">Nhà Cung Cấp <i class="ion-ios-arrow-down"></i></a>
                                    <ul class="main-sub-menu">
                                        @await Component.InvokeAsync("NhaCungCap")
                                    </ul>
                                </li>
                                <li class="menu-dropdown">
                                    <a href="#">Giới thiệu <i class="ion-ios-arrow-down"></i></a>
                                    <ul class="main-sub-menu">
                                        <li><a href="@Url.Action("ThongTinCuaHang","Home")">Thông tin về chúng tôi</a></li>
                                    </ul>
                                </li>
                                <li class="menu-dropdown">
                                    <a href="@Url.Action("Blog","Home")">Blog</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2 align-self-center">
                        <div class="header-right-element d-flex justify-content-end">
                            <!--Cart info Start -->
                            @await Html.PartialAsync("~/Views/Giohang/Gia.cshtml")
                                
                        </div>
                        <!--Cart info End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Nav End -->
    </header>

    @await Html.PartialAsync("~/Views/Giohang/Index.cshtml")
    <!-- OffCanvas Cart End -->
    <!-- OffCanvas Search Start -->
    @RenderBody();
    <!-- Messenger Plugin chat Code -->
    <div id="fb-root"></div>
    <!-- Your Plugin chat code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>
    <script>
        $(document).ready(function () {
            // Sử dụng AJAX để tải nội dung cshtml từ action "Index"
            $.ajax({
                type: "GET",
                html: "@Html.ActionLink("Index", "GioHang")",
                success: function (data) {
                    // Sau khi tải thành công, chèn nội dung vào thẻ HTML với id "Index"
                    $("#Index").html(data);
                },
                error: function () {
                    // Xử lý lỗi nếu cần
                    alert("Đã xảy ra lỗi khi tải giỏ hàng.");
                }
            });
        });
        $(document).ready(function () {
            // Sử dụng AJAX để tải nội dung cshtml từ action "Index"
            $.ajax({
                type: "GET",
                url: "@Url.Action("Gia", "GioHang")",
                success: function (data) {
                    // Sau khi tải thành công, chèn nội dung vào thẻ HTML với id "Index"
                    $("#Gia").html(data);
                },
                error: function () {
                    // Xử lý lỗi nếu cần
                    alert("Đã xảy ra lỗi khi tải giỏ hàng.");
                }
            });
        });
        var chatbox = document.getElementById('fb-customer-chat');
        chatbox.setAttribute("page_id", "722675605167676");
        chatbox.setAttribute("attribution", "biz_inbox");

        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v11.0'
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
<!-- Mirrored from htmldemo.hasthemes.com/minky-preview/minky/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 25 Jun 2021 11:46:01 GMT -->
</html>
<!-- Footer Area Start -->
<div class="footer-area">
    <div class="footer-container">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-md-30px mb-lm-30px">
                        <div class="single-wedge">
                            <h4 class="footer-herading">Thông tin cửa hàng</h4>
                            <div class="need_help">
                                <p class="add">Khu Công nghệ cao (Q.9), HUTECH có Trung tâm Đào tạo Nhân lực chất lượng cao</p>
                                <p class="phone">Telephone: 0559 221 106<br><a href="tel:1-800-345-6789"></a></p>
                                <p class="mail">Email: shopthucunghutech@gmail.com</p>
                            </div>
                            <div class="social_follow">
                                <ul>
                                    <li class="facebook" title="facebook"><a href="#" target="_blank">Facebook</a></li>
                                    <li class="twitter" title="twitter"><a href="#" target="_blank">Twitter</a></li>
                                    <li class="youtube" title="youtube"><a href="#" target="_blank">YouTube</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="get-upto">
                            <a href="#"><img class="img-responsive m-auto" src="~/assets/images/banner-image/get_upto.png" alt="banner img"></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.420590962681!2d106.78290765089655!3d10.85558036065685!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e812813e1%3A0x6e4c23af96c88480!2zVHJ1bmcgVMOibSDEkMOgbyBU4bqhbyBOaMOibiBM4buxYyBDaOG6pXQgTMaw4bujbmcgQ2FvIC0gSFVURUNI!5e0!3m2!1svi!2s!4v1681146391146!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mb-lm-20px text-lm-center">
                <p class="copy-text">Copyright © Nhóm số 15</p>
            </div>
            <div class="col-md-6 text-right text-lm-center">
                <div class="payment text-right text-lm-center">
                    <img src="~/assets/images/icons/payment.png" alt="" class="img-responsive">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Area End -->
<!-- Modal -->
<!-- Modal end -->
<!-- Vendors JS -->
<!-- Use the minified version files listed below for better performance and remove the files listed above -->
<script src="~/assets/js/vendor/vendor.min.js"></script>
<script src="~/assets/js/plugins/plugins.min.js"></script>
<!-- Main Activation JS -->
<script src="~/assets/js/main.js"></script>
<!-- Messenger Plugin chat Code -->
<div id="fb-root"></div>
<!-- Your Plugin chat code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>